* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Home {
  height: 100%;
  width: 100%;
}
#content-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

#connected {
  background-color: rgb(153, 67, 251);
  padding: 20px 50px 20px 50px;
  border: none;
  border-radius: 50px;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#connected #dot {
  height: 10px;
  width: 10px;
  background-color: rgb(6, 254, 118);
  border-radius: 50%;
}

#address {
  color: rgb(153, 67, 251);
}